.remodel-placeholder{
  color: rgb(201,204,209);
}
.clickInput{
  line-height: 24px;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  cursor: pointer;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out, background 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.clickInput:hover{
  border-color: #57a3f3;
}
.treeData-wrap{
  padding: 0 15px;
  box-sizing: border-box;
}
.treeData-search-input{
  margin-top: 5px;
}
.input-list-wrap{
  display: inline-block;
  margin: 0 35px 20px 0;
}
.text-input{
  display: flex;
  align-content: center;
  line-height: 32px;
  font-size: 12px;
}
.text-input .title-name{
  display: block;
  width: 70px;
  min-width: 30px;
  line-height: 32px;
}
.search-input{
  width: 200px;
}
.btn-wrap{
  display: inline-flex;
  margin: 0 0 20px 0;
  align-items: center;
}
.ivu-input-number-input{
  vertical-align: super;
}
.section-hr{
  display: inline-block;
  width: 20px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.displayBtn{
  margin-left: 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: all .2s ease-in-out;
}
.displayBtn:hover{
  color: #2d8cf0;
}