*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
body{line-height:1.6}
/* h1,h2,h3,h4,h5,h6{font-size:100%} */
a,area{outline:none}
a{text-decoration:none;cursor: pointer}
a:hover{text-decoration:underline;outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}

/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;}

/*HTML5 reset*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0}time{display:inline}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
/*
Name:			style_clearfix
Example:		class="clearfix|cl"
Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}

/*自定义通用样式*/
body{
  font-family:  PingFangSC-Regular !important;
  /*letter-spacing: 1px;*/
}

/*字体颜色*/
.color90{
  color: #909090;
}
.color22{
 color: #222222;
}
.color00{
  color: #000000;
}
.color255{
  color: #fff;
}
.colorc3{
  color: #C3C3C3;
}
/*背景颜色*/
.bg2d{
  background-color: #2d8cf0;
}
.fontsize12{
  font-size: 12px;
}
.fontsize13{
  font-size: 13px;
}
.fontsize14{
  font-size: 14px;
}
.fontsize15{
  font-size: 15px;
}
.fontsize16{
  font-size: 16px;
}
.fontsize17{
  font-size: 17px;
}
.fontsize18{
  font-size: 18px;
}
.fontsize19{
  font-size: 19px;
}
.fontsize20{
  font-size: 20px;
}
.fontsize21{
  font-size: 21px;
}
.fontsize22{
  font-size: 22px;
}
.fontsize30{
  font-size: 30px;
}
.top40{
  margin-top: 40px;
}
.top30{
  margin-top: 30px;
}
.top20{
  margin-top: 20px;
}
.top15{
  margin-top: 15px;
}
.top10{
 margin-top: 10px;
}
.right5{
  margin-right: 5px;
}
.right15{
  margin-right: 15px;
}
.right30{
  margin-right: 30px;
}
.right50{
  margin-right: 50px;
}
.right100{
  margin-right: 100px;
}
.right150{
  margin-right: 150px;
}
.bottom15{
  margin-bottom: 15px;
}
.bottom30{
  margin-bottom: 30px;
}
.bottom50{
  margin-bottom: 50px;
}
.line30{
  line-height: 30px;
}
.left15{
  margin-left: 15px;
}

/* 左浮动 */
.pull-left{
  float: left;
}
/* 右浮动 */
.pull-right{
  float:right;
}

/* flex-around 弹性布局，两边有空*/
.flex-around{
  display: flex;
  justify-content: space-around;
}
/* flex-between 弹性布局，两边无空*/
.flex-between{
  display: flex;
  justify-content: space-between;
}
/* flex-start 弹性布局，重头开始*/
.flex-start{
  display: flex;
  justify-content: flex-start;
}
.flex-wrap{
  flex-wrap: wrap;
}
/* 文字居中 */
.text-center{
  text-align: center;
}
/* 文字居右 */
.text-right{
  text-align: right;
}
/* inline-box */
.inline-box{
  display: inline-block;
}
.flex-box {
  display: flex;
  justify-content: flex-start;
}
.must-laber::before{
  content: '*';
  display: inline-block;
  margin-right: 4px;
  line-height: 1;
  font-family: 'SimSun';
  font-size: 12px;
  color: #ed4014;
}
.ivu-input-number-input-wrap .ivu-input-number-input{
  vertical-align: top;
}
.width200{
  display: inline-block;
  width:200px;
}
.width200.ivu-select,.width200.ivu-input-wrapper{
  width:200px;
}
.width300{
  display: inline-block;
  width:300px;
}
.width300.ivu-select,.width300.ivu-input-wrapper{
  width:300px;
}
.width100{
  display: inline-block;
  width:100px;
}
.must-tag{
  color:#ed4014;
  display: inline-block;
  margin-right: 3px;
}
.tableLink{
  color:#2d8cf0;
  cursor: pointer;
  text-decoration: underline;
}
/* 一行显示不下，。。。 */
.ellips-box{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
/* 计数器 */
.counter {
  vertical-align: bottom;
  margin-left: 12px;
}
.tableLinkHover{
  color:#2d8cf0;
  cursor: pointer;
}
.tableLinkHover:hover{
  text-decoration: underline;
}


/*套餐日期*/
.ant-fullcalendar-fullscreen .ant-fullcalendar-header .ant-radio-group{
    display: none;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-month, .ant-fullcalendar-fullscreen .ant-fullcalendar-date{
    height: 75px;
    padding:2px 0;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-content{
    height: 70px;
}
.ant-fullcalendar-value{
    position: absolute;
    right: 15px;
    top: 5px;
}
.ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-month, .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-date{
    background: inherit;
}
/* pre-style */
.pre-text {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  overflow: hidden;
}
/* element下拉框在ivew-Modal下面的问题 */
.el-picker-panel{
  z-index: 9999!important;
}
.right-flex{
  display: flex;
  justify-content: flex-end;
}
.middle-flex{
  display: flex;
  align-items: center;
}
.ivu-table-cell .textBtn{
  color:#1890ff;
  cursor: pointer;
}
.no-left-margin .ivu-form-item-content {
  margin-left: 25px !important;
}
.no-left-margin.table-item {
  margin-left: 60px !important;
  margin-top: -15px;
}
/*  |title  */
.class-tit{
  font-size: 17px;
}
.class-tit::before{
  content:'';
  display: inline-block;
  width:4px;
  height:19px;
  background: #2d8cf0;
  margin-right: 6px;
  position: relative;
  top:3px;
}

/* 自定义 */
.pr {
  position: relative !important;
}
._mask {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: transparent;
}
.aster {
  position: absolute;
  top: 0;
  color: #ed4014;
  line-height: 1;
  font-size: 12px;
  font-family: SimSun;
  display: inline-block;
}

/*滚动条美化*/
.b-scroll-bar::-webkit-scrollbar {
   /*滚动条整体样式*/
   width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
   height: 1px;
 }
.b-scroll-bar::-webkit-scrollbar-thumb {
   /*滚动条里面小方块*/
   border-radius: 10px;
   box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
   background   : #535353;
 }
.b-scroll-bar::-webkit-scrollbar-track {
   /*滚动条里面轨道*/
   box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   background   : #ededed;
 }
