.el-popup-parent--hidden {
    overflow: inherit;
}
.el-button--primary {
	color: #fff;
	background-color: #ff8532;
	border-color: #ff8532;
}
.el-button--primary:focus,
.el-button--primary:hover {
	background: #ff9d5b;
	border-color: #ff9d5b;
	color: #fff;
}
.el-button--text {
	color: #ff8532;
}
.el-button--text:focus,
.el-button--text:hover {
	color: #ff8532;
	border-color: transparent;
	background-color: transparent;
}
.el-pager li:hover {
	color: #ff8532;
}
.el-pager li.active {
	color: #ff8532;
	cursor: default;
}
.el-dialog__headerbtn .el-dialog__close {
	color: #909399;
}
.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
	color: #ff8532;
}
.el-pagination .btn-next:hover,
.el-pagination .btn-prev:hover {
	color: #ff8532;
}
.el-input__inner:focus {
	border-color: #ff8532;
}
.el-select .el-input.is-focus .el-input__inner {
	border-color: #ff8532;
}
.el-select .el-input__inner:focus {
	border-color: #a19b96;
}
.el-select-dropdown__item.selected {
	color: #ff8532;
	font-weight: 700;
}
.el-date-table td.today span {
	color: #ff8532;
	font-weight: 700;
}
.el-date-table td.end-date span,
.el-date-table td.start-date span {
	background-color: #ff8532;
}
.el-picker-panel__icon-btn:hover {
	border-color: #ff8532;
}
.el-picker-panel__icon-btn:hover {
	color: #ff8532;
}
.el-message-box__headerbtn .el-message-box__close:hover {
	color: #ff8532;
}
/* .el-button:active {
    color: #e6782d;
    border-color: #e6782d;
    outline: 0;
} */
/* .el-button:focus, .el-button:hover {
    color: #ff8532;
    border-color: #ffdac2;
    background-color: #fff3eb;
} */
